<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-5 col-xl-4 mt-4 d-flex align-items-center">
      <div class="col align-middle text-center">
        <h1 class="log display-3 mb-3"><span class="tabi">Tabi</span>ログ</h1>
        <h3 class="mb-5">ー 北海道を遊び尽くす ー</h3>
        <div class="row mb-3">
          <div class="col">
            <div class="search_form">
              <%= form_with url:search_keyword_path,local: true,method: :get do |f| %>
                <%= f.search_field :keyword,value: @keyword,placeholder: "キーワードから探す" %>
                <%= f.submit "検索",class: "btn-sm btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col">
            <div class="search_form">
              <%= form_with url:check_traveller_path,local: true,method: :get do |f| %>
                <%= f.search_field :traveller,value: @traveller,placeholder: "ユーザーを探す" %>
                <%= f.submit "検索",class: "btn-sm btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 pr-md-5 pr-xl-0">
      <input id="address" type="textbox" placeholder="地図上で場所を探す">
      <input type="button" value="検索" onclick="codeAddress()">
      
      <div id='map'></div>
      
      <style>
      #map {
        height: 600px;
        width: auto;
      }
      </style>
      
      <script>
      let map
      
      function initMap(){
        geocoder = new google.maps.Geocoder()
      
        map = new google.maps.Map(document.getElementById('map'), {
          //latが緯度、lngが経度を示す
          center: {lat: 43.44028, lng:142.78864},
          //数値は0〜21まで指定可能
          zoom: 6.3,
        });
        //訪問市町村の座標にピンを表示させる
        <% if @towns.present? %>
        <% @towns.each do |town| %>
          var contentString = "<%= town.town_name %>";
          
          var marker = new google.maps.Marker({
            position: {lat: <%= town.latitude %>, lng: <%= town.longitude %>},
            map: map,
            animation: google.maps.Animation.DROP
          });
        <% end %>
        <% end %>

      }
      
      
      //検索フォームのボタンが押された時に実行
      function codeAddress(){
        //検索フォームの入力内容を取得
        let inputAddress = document.getElementById('address').value;
      
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
          } else {
            //検索結果が何もなかった場合に表示
            alert('該当する結果がありませんでした：' + status);
          }
        });   
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
    </div>
  </div>
  <div class="row my-5 pt-5 d-flex justify-content-center">
    <div class="h3">ー　タイムライン　ー</div>
  </div>
  <%= render 'public/posts/posts',posts: @posts %>
</div>