<div class="container-fluid">
  <div class="row my-4 d-flex justify-content-center">
    <h2>ー　新規登録　ー</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10">
      <%= form_with model: @user,url: user_registration_path,method: :post do |f| %>
      <table class="table table-borderless">
        <colspan>
          <col width="30%">
          <col width="5%">
          <col width="30%">
          <col width="5%">
          <col width="30%">
        </colspan>
        <tr>
          <td class="align-middle">名前</td>
          <td class="align-middle">(姓)</td>
          <td><%= f.text_field :last_name,class: "form-control" %></td>
          <td class="align-middle">(名)</td>
          <td><%= f.text_field :first_name,class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle">フリガナ</td>
          <td class="align-middle px-0">(セイ)</td>
          <td><%= f.text_field :last_name_kana,class: "form-control" %></td>
          <td class="align-middle px-0">(メイ)</td>
          <td><%= f.text_field :first_name_kana,class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle">ユーザー名</td>
          <td colspan="4"><%= f.text_field :user_name,class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle">メールアドレス</td>
          <td colspan="4"><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle pr-0">パスワード(６文字以上)</td>
          <td colspan="4"><%= f.password_field :password, autocomplete: "new-password",class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-middle pr-0">パスワード(確認用)</td>
          <td colspan="4"><%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %></td>
        </tr>
      </table>
      <div class="row mb-4 d-flex justify-content-center">
        <%= f.submit "登録",class: "btn btn-success text-white" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-center">
    ※既にアカウントをお持ちの方は、<%= link_to "こちら",user_session_path %>
  </div>
</div>