<div class="container-fluid">
  <div class="row my-4 d-flex justify-content-center">
    <h2>ー　新規登録　ー</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8 col-md-5">
      <%= form_with model: @user,url: user_registration_path,method: :post do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.text_field :last_name,placeholder: "姓",class: "form-control" %></td>
          <td><%= f.text_field :first_name,placeholder: "名",class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.text_field :last_name_kana,placeholder: "セイ",class: "form-control" %></td>
          <td><%= f.text_field :first_name_kana,placeholder: "メイ",class: "form-control" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.text_field :user_name,placeholder: "Tabi人名（ユーザー名）",class: "form-control" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.email_field :email,placeholder: "メールアドレス", autofocus: true, autocomplete: "email",class: "form-control" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.password_field :password,placeholder: "パスワード(６文字以上)", autocomplete: "new-password",class: "form-control" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.password_field :password_confirmation,placeholder: "パスワード(確認用)", autocomplete: "new-password",class: "form-control" %></td>
        </tr>
      </table>
      <div class="row mb-4 d-flex justify-content-center">
        <%= f.submit "登録",class: "btn btn-success text-white","data-turbolinks": "false" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-center">
    ※既にアカウントをお持ちの方は、<%= link_to "こちら",user_session_path %>
  </div>
</div>