<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-center">
        <h2 class="h3 md-h2">ー　プロフィール編集　ー</h2>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-11 col-md-10 col-lg-8">
            <%= form_with model: @user,url: mypage_update_path(@user.id),method: :patch do |f| %>
            <div class="row mb-2 d-flex justify-content-center">
                <div class="col-sm-5 d-flex align-items-sm-center">
                    <div class="row mt-2 d-flex justify-content-center">
                        <div class="col-6 col-sm-10 d-flex justify-content-center">
                            <%= image_tag @user.get_profile_image(130,130),class: "rounded-circle" %>    
                        </div>
                        <dic class="col-6 col-sm-10 mt-sm-4 d-flex justify-content-sm-center align-items-center">
                            <%= f.file_field :profile_image,accept: "/image*",class: "form-control-file" %>
                        </dic>
                    </div>
                </div>
                <div class="col-sm-7 col-xl-6">
                    <table class="table table-borderless mb-0">
                        <tr>
                            <td colspan="2" class="pb-0 align-bottom">Tabi人：</td>
                        </tr>
                        <tr>
                            <td colspan="2"><%= f.text_field :user_name,class: "form-control" %></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pb-0 align-bottom">自己紹介：</td>
                        </tr>
                        <tr>
                            <td height="auto" width="auto" colspan="2"><%= f.text_area :introduction,class: "form-control" %></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pb-0 align-bottom">名前：</td>
                        </tr>
                        <tr>
                          　<td>(姓)<%= f.text_field :last_name,class: "form-control" %></td>
                          　<td>(名)<%= f.text_field :first_name,class: "form-control" %></td>
                        </tr>
                        <tr>
                          　<td>(セイ)<%= f.text_field :last_name_kana,class: "form-control" %></td>
                          　<td>(メイ)<%= f.text_field :first_name_kana,class: "form-control" %></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pb-0 align-bottom">メールアドレス：</td>
                        </tr>
                        <tr>
                            <td height="auto" width="auto" colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row my-3 my-sm-5 d-flex justify-content-center">
                <%= f.submit "変更を保存",class: "btn btn-success text-white" %>
            </div>
            <% end %> 
        </div>
 　 </div>
</div>