<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="row my-4 d-flex justify-content-center">
                <h3>ー　<%= @user.user_name %>さんのTabiログ　ー</h3>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <div class="row d-flex justify-content-center">
                        <%= image_tag @user.get_profile_image(150,150),class: "rounded-circle" %><br>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <% if current_user.following?(@user) %>
                            <%= link_to "フォローを外す", unfollow_path(@user.id),method: :delete,class: "btn btn-primary" %>
                        <% else %>
                            <%= link_to "フォローする", follow_path(@user.id),method: :post,class: "btn btn-primary" %>
                        <% end %>
                        <table class="table table-borderless my-3 mx-4">
                            <colspan>
                                <col width="50%">
                                <col width="25%">
                                <col width="25%">
                            </colspan>
                            <tr>
                                <td>フォロー</td>
                                <td></td>
                                <td>人</td>
                            </tr>
                            <tr>
                                <td>フォロワー</td>
                                <td></td>
                                <td>人</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-6 pl-0 pr-5">
                    <table class="table table-borderless mb-0">
                        <colspan>
                            <col width="60%">
                            <col width="35%">
                            <col width="5%">
                        </colspan>
                        <tr class="border-bottom">
                            <td>ユーザー名：</td>
                            <td colspan="2"><%= @user.user_name %></td>
                        </tr>
                        <tr class="border-bottom">
                            <td>投稿数：</td>
                            <td align="center"><%= @posts.count %></td>
                            <td>件</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>訪問数：</td>
                            <td align="center"><%= @visit_town %></td>
                            <td>/179</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>自己紹介：</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border">
                            <td height="120" colspan="3"><%= @user.introduction %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <%= render 'user_posts',posts: @posts %>
        </div>
    </div>
</div>
