<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="row my-4 d-flex justify-content-center">
                <h3>ー　わたしのTabiログ　ー</h3>
            </div>
            <div class="row mb-5">
                <div class="col-5">
                    <div class="row d-flex justify-content-center">
                        <%= image_tag @user.get_profile_image(150,150),class: "rounded-circle" %><br>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <%= link_to "プロフィール編集",mypage_edit_path(@user.id),class: "btn btn-info" %>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <%= link_to "お気に入り",user_favorites_path(@user.id),class: "btn btn-warning","data-turbolinks": "false" %>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <% if @user.released? %>
                            <%= link_to "非公開にする",mypage_nonrelease_path(@user.id),method: :patch,class: "btn btn-success" %>
                        <% else %>
                            <%= link_to "公開にする",mypage_release_path(@user.id),method: :patch,class: "btn btn-success" %>
                        <% end %>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <%= link_to "退会する",mypage_leave_path(@user.id),method: :patch,class: "btn btn-danger","data-confirm" => "本当に退会しますか？" %>
                    </div>
                </div>
                <div class="col-7 pl-0 pr-4">
                    <table class="table table-borderless mb-0">
                        <tr class="border-bottom">
                            <td>Tabi人：</td>
                            <td colspan="2"><%= @user.user_name %></td>
                        </tr>
                        <tr class="border-bottom">
                            <td width="40%">投稿数：</td>
                            <td width="55%" align="center"><%= @posts.total_count %></td>
                            <td width="5%">件</td>
                        </tr>
                        <tr class="border-bottom">
                            <td width="40%">訪問数：</td>
                            <td width="55%" align="center"><%= @visit_town %></td>
                            <td width="5%">/179</td>
                        </tr>
                        <tr class="border-bottom">
                            <td width="45%">フォロー：</td>
                            <td width="50%" align="center">
                                <%= link_to following_path(@user.id) do %>
                                    <%= @user.followings.count %>
                                <% end %>
                            </td>
                            <td width="5%">人</td>
                        </tr>
                        <tr class="border-bottom">
                            <td width="50%">フォロワー：</td>
                            <td width="45%" align="center">
                                <%= link_to follower_path(@user.id) do %>
                                    <%= @user.followers.count %>
                                <% end %>
                            </td>
                            <td width="5%">人</td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="3">自己紹介：</td>
                        </tr>
                        <tr class="border">
                            <td height="120" colspan="3"><%= @user.introduction %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <%= render 'user_posts',posts: @posts %>
        </div>
    </div>
</div>