<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xl-5">
            <div class="row my-4 d-flex justify-content-center">
                <h3>ー　わたしのTabiログ　ー</h3>
            </div>
            <div class="row mb-5">
                <div class="col-5 col-md-5 col-lg-5">
                    <div class="row mt-3 d-flex justify-content-center justify-content-sm-end mr-sm-3">
                        <%= link_to mypage_path(@user.id) do %>
                            <%= image_tag @user.get_profile_image(150,150),class: "rounded-circle" %>
                        <% end %>
                    </div>
                    <div class="row d-flex justify-content-center justify-content-sm-end mr-sm-3">
                        <div class="btn-group-vertical mt-5">
                            <button type="button" class="btn btn-outline-info">
                                <%= link_to "プロフィール編集",mypage_edit_path(@user.id),style: "text-decoration:none;" "color: #0f2350;" %>
                            </button>
                            <button type="button" class="btn btn-outline-info">
                                <%= link_to "お気に入り",user_favorites_path(@user.id),"data-turbolinks": "false",style: "text-decoration:none;" "color: #0f2350;" %>
                            </button>
                            <% if @user.released? %>
                                <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="right" title="フォロワーのみに公開">
                                    <%= link_to "非公開にする",mypage_nonrelease_path(@user.id),method: :patch,style: "text-decoration:none;" "color: #0f2350;" %>
                                </button>
                            <% else %>
                                <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="right" title="全ての人に公開">
                                    <%= link_to "公開にする",mypage_release_path(@user.id),method: :patch,style: "text-decoration:none;" "color: #0f2350;" %>
                                </button>
                            <% end %>
                            <button type="button" class="btn btn-outline-info">
                                <%= link_to "退会する",mypage_leave_path(@user.id),method: :patch,"data-confirm" => "本当に退会しますか？",style: "text-decoration:none;" "color: #0f2350;" %>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-7 col-sm-5 col-md-4 col-lg-7 col-xl-5 pl-0 ml-xl-5 mr-xl-4 pr-md-4">
                    <table class="table table-borderless mb-0">
                        <tr class="border-bottom">
                            <td colspan="3">
                                Tabi人：
                                <%= link_to mypage_path(@user.id),class: "text-dark",style: "text-decoration:none;" do %>
                                    <%= @user.user_name %>
                                <% end %>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="2">
                                投稿数：
                                <span class="pl-4"><%= @posts.total_count %></span>
                            </td>
                            <td>件</td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="2">
                                訪問数：
                                <span class="pl-4"><%= @visit_town %></span>
                            </td>
                            <td>/179</td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="2">
                                フォロー：
                                <span class="pl-4">
                                    <%= link_to following_path(@user.id) do %>
                                        <%= @user.followings.count %>
                                    <% end %>
                                </span>
                            </td>
                            <td>人</td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="2">
                                フォロワー：
                                <span class="pl-2">
                                    <%= link_to follower_path(@user.id) do %>
                                        <%= @user.followers.count %>
                                    <% end %>
                                </span>
                            </td>
                            <td>人</td>
                        </tr>
                        <tr class="border-bottom">
                            <td colspan="3">自己紹介：</td>
                        </tr>
                        <tr class="border">
                            <td height="100" colspan="3" class="p-2"><%= @user.introduction %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-7">
            <%= render 'user_posts',posts: @posts %>
        </div>
    </div>
</div>