<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="row my-4 d-flex justify-content-center">
                <h3>ー　<%= @user.user_name %>さんのTabiログ　ー</h3>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <div class="row d-flex justify-content-center">
                        <%= image_tag @user.get_profile_image(150,150),class: "rounded-circle" %><br>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <%= link_to "プロフィール編集",mypage_edit_path(@user.id),class: "btn btn-info" %>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <%= link_to "お気に入り",user_favorites_path(@user.id),class: "btn btn-warning" %>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <% if @user.released? %>
                            <%= link_to "非公開にする",mypage_nonrelease_path(@user.id),method: :patch,class: "btn btn-success" %>
                        <% else %>
                            <%= link_to "公開にする",mypage_release_path(@user.id),method: :patch,class: "btn btn-success" %>
                        <% end %>
                    </div>
                </div>
                <div class="col-6 pl-0 pr-5">
                    <table class="table table-borderless mb-0">
                        <colspan>
                            <col width="65%">
                            <col width="30%">
                            <col width="5%">
                        </colspan>
                        <tr class="border-bottom">
                            <td>ユーザー：</td>
                            <td colspan="2"><%= @user.user_name %></td>
                        </tr>
                        <tr class="border-bottom">
                            <td>投稿数：</td>
                            <td align="center"><%= @posts.count %></td>
                            <td>件</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>訪問数：</td>
                            <td align="center"><%= @visit_town %></td>
                            <td>/179</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>フォロー：</td>
                            <td></td>
                            <td>人</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>フォロワー：</td>
                            <td align="center"></td>
                            <td>人</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>自己紹介：</td>
                            <td align="center"></td>
                            <td></td>
                        </tr>
                        <tr class="border">
                            <td height="120" colspan="3"><%= @user.introduction %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <%= render 'user_posts',posts: @posts %>
        </div>
    </div>
</div>