<!DOCTYPE html>
<html>
  <head>
    <title>Tabilog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row my-4 d-flex justify-content-between">
          <div class="col-sm-4 ml-5">
            <h2>Tabiログ</h2>
          </div>
          <div class="col-sm-5 text-right mr-4">
            <!--ユーザーでログイン中-->
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path,method: :delete do %>
                <i class="fas fa-sign-out-alt mx-2" style="font-size:2rem;"></i>
              <% end %>
                <i class="fas fa-home mx-2" style="font-size:2rem;"></i>
                <i class="fas fa-user mx-2" style="font-size:2rem;"></i>
              <%= link_to posts_new_path do %>
                <i class="fas fa-edit mx-2" style="font-size:2rem;"></i>
              <% end %>
            <!--管理者でログイン中-->
            <% elsif admin_signed_in? %>
                <i class="fas fa-sign-out-alt mx-2" style="font-size:2rem;"></i>
                <i class="fas fa-home mx-2" style="font-size:2rem;"></i>
                <i class="fas fa-users mx-2" style="font-size:2rem;"></i>
            <!--ログアウト中-->
            <% else %>
              <%= link_to user_session_path do %>
                <i class="fas fa-sign-in-alt mx-2" style="font-size:2rem;"></i>
              <% end %>
                <i class="fas fa-home mx-2" style="font-size:2rem;"></i>
                <i class="fas fa-user mx-2" style="font-size:2rem;"></i>
                <i class="fas fa-edit mx-2" style="font-size:2rem;"></i>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
